@import "../shared/tabContainer/tab-container.mixin";

.servers-tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .inputs {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;

    &__input {
      margin-right: .5em;
      width: 100%;

      &_host {
        flex:4;
      }

      &_port {
        flex: 1;
      }

      &_token {
        flex: 1;
      }
    }
  }

  .buttons {
    .my-button {
      margin-left: 1em;
    }
  }
}
