@import "../../colors";

.icon-button {
  width: 1.2em;
  height: 1.2em;
  position: relative;
  background-color: $bgColor;
  border: none;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    scale: 1.2;
    transition: all .3s ease;
  }
}
