@import "../../colors";

.icon-button {
  width: 1.2em;
  height: 1.2em;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  user-select: none;

  &_bordered{
    background-color: $bgColor;
    border-radius: 50%;
    border: 1px solid $inputBorderFgColorInactive;
  }

  &:hover {
    scale: 1.2;
    transition: all .3s ease;
  }
}
