@import "../shared/colors";

.subject-groups {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .subject-groups__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1em;

    .my-button {
      flex-basis: 50%;
    }

    .my-input {
      flex-basis: 50%;
      margin-left: 1em;
    }
  }

  .subject-groups__group-list {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding-top: 1em;
    overflow-y: scroll;
    padding-right: .2em;
    margin-top: 1em;

    .group-list__list-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid $borderFgColor;
      border-radius: 4px;
      margin-bottom: .5em;
      padding: 0.6em 1em;
      position: relative;
      cursor: pointer;

      transition: border-color .5s ease;

      &:hover {
        border-color: $inputBorderFgColorHover;
        transition: border-color .5s ease;
      }

      .list-item__list-item-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        word-wrap: anywhere;

        .list-item-info__buttons {
          display: flex;
          padding: 0 .5em;
          cursor: default;

          .list-item-info__settings_button {

          }

          .list-item-info__remove-button {
            margin-left: 2em;
          }
        }
      }


      .list-item__list-item-settings {

      }
    }
  }
}
