@import "../../shared/colors";

.saved-subjects {
  width: 100%;
  height: 100%;
  padding: 0 3em;
  display: flex;
  flex-direction: column;

  &__search {
    padding-bottom: 1em;
  }

  &__subjects {
    position: relative;
    overflow-y: scroll;

    .subjects__subject-item {
      position: relative;
      margin-bottom: .5em;
      border-color: $borderFgColor;

      .subject-item__remove-button {
        display: none;
        position: absolute;
        top:60%;
        transform: translate(-50%, -50%);
        right: 1em;
        scale: 1.3;
      }

      &:hover {
        border-color: $inputBorderFgColorHover;

        .subject-item__remove-button {
          display: block;
        }
      }
    }


  }
}
