$fgColor: white;
$bgColor: black;
$borderFgColor: #094d1b;
$inputBorderFgColor: #3d3d3d;
$inputBorderFgColorHover: #5e5e5e;
$inputBorderFgColorFocus: #adadad;
$buttonFgColor: blue;
$buttonFgColorSecondary: #5e5e5e;
$buttonFgColorAction: #b34a00;
$buttonBgColorHover: #adadad;
$scrollbarBgColor: blue;
$listFgColorSelected: blue;
$listBgColorSelected: #3d3d3d;
