@import "../../shared/colors";

.subject-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #212121;
  border-radius: 4px;
  padding: .5em;
  //margin-bottom: .5em;
  //width: 100%;
  cursor: pointer;
  user-select: none;
  overflow: hidden;

  transition: all .5s ease;

  &:hover {
    border-color: #5e5e5e;
    transition: all .5s ease;

    .subject-item__header {
      .subject-item__buttons {
        display: flex;
      }
    }
  }

  &:active {
    border-color: gray;
  }

  &_selected {
    border-color: lightgray;
  }

  hr {
    border: 1px solid #252525;
  }

  .subject-item__header {
    display: flex;
    justify-content: space-between;


    .subject-item__method {
      margin-bottom: .5em;
      font-weight: 600;

      &_request {
        color: green;
      }

      &_publish {
        color: #f56c22;
      }

      &_subscribe {
        color: #a84a4a;
      }
    }

    .subject-item__buttons {
      display: none;

      .buttons__save {

      }

      .buttons__remove {
        margin-left: .5em;
      }
    }
  }

  .subject-item__body {
    padding: .5em 0;

    .subject-item__name {
      font-size: 12px;
      font-family: monospace;
      color: lightgray;
      word-wrap: break-word;
    }
  }

  .subject-item__buttons {
    display: flex;
    justify-content: end;
    padding-top: .5em;
    overflow: hidden;

    height: 1px;
    transition: all .3s ease;

    button{
      margin-left: .5em;
    }

  }

  &_selected {
    .subject-item__buttons {
      height: 3em;
      transition: all .2s ease;
    }
  }


}
