@import "../shared/colors";

.publish-tab-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .inputs {
    height: 100%;

    .subject {
      margin-bottom: 1em;
    }

    .payload {
      height: calc(100% - 80px);
      position: relative;
      .payload__checker{
        position: absolute;
        bottom: .5em;
        left: .5em;
        color: $hintColor;
      }
    }
  }

  .buttons {
    .my-button {
      margin-right: 1em;
    }
  }

  &_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: gray;
  }
}

