.remove-icon {
    filter: invert(50%);
}

.remove-icon_red{
    filter: invert(14%) sepia(78%) saturate(4702%) hue-rotate(355deg) brightness(111%) contrast(120%);
}

.remove-icon_grey{
    filter: invert(50%);
}
