.attribute-color-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .attribute-name {
    flex: 4;
  }

  .color-picker {
    flex: 2;
    width: 100px;
    padding: 0 1em;
  }

  .color-input {
    flex: 2;
    max-width: 100px;
  }
}
