.attribute-color-setting {
  display: grid;
  grid-template-areas: 'name input picker';
  grid-template-columns: 1fr 0.5fr 0.5fr;
  align-items: center;

  .attribute-name {
    grid-area: name;
  }

  .color-picker {
    grid-area: picker;
  }

  .color-input {
    grid-area: input;
    max-width: 100px;
  }
}
