@import "../../colors";
@import "../commonInput.mixin";

.my-input {
  @include common-input;

  position: relative;

  .input {
    font-family: monospace;

    &:disabled {
      color: gray;
    }

  }

  .clear-button {
    display: none;
    position: absolute;
    top: .7em;
    right: .3em;
  }

  &:hover {
    .clear-button {
      display: block;
    }
  }

  .clear-button_hidden {
    display: none;
  }
}

