@import "../colors";

.modal {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(112, 112, 112, 0.33);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .modal__modal-content {
    width: 50%;
    height: 50%;
    border: 1px solid $borderFgColor;
    border-radius: .5em;
    background-color: black;
    transition: all .5s ease;
    box-shadow: 2px 2px 5px black;

    .modal-content__header {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .modal-title {

      }
    }

    hr {
      border: 1px solid #252525;
    }

    .modal-content__body {
      padding: 1em 0.5em;
      height: calc(100% - 4.5em);
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }
}


@media screen and (max-width: 900px) {
  .modal {
    .modal__modal-content {
      width: 80%;
      transition: all .5s ease;
    }
  }
}

@media screen and (max-height: 800px) {
  .modal {
    .modal__modal-content {
      height: 80%;
      transition: all .5s ease;
    }
  }
}
