.remove-button {
  width: 1em;
  height: 1em;
  position: relative;

  transition: all .3s ease;

  .remove-button__icon {
    position: absolute;
    top: .4em;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 2px;
      background-color: red;
      transform: rotate(45deg);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 2px;
      background-color: red;
      transform: rotate(-45deg);
    }
  }

  &:hover{
    scale: 1.2;
    transition: all .3s ease;
  }


}
