@import "../shared/tabContainer/tab-container.mixin";
@import "../shared/colors";

.subjects-tab-container {
  height: 100%;

  .subjects-tab-container__buttons {
    position: absolute;
    top: .5em;
    left: 95px;
    scale: 1.3;

    button {
      margin: 0 .2em;
    }
  }

  .subjects-tab-container__subject-list {
    height: 100%;
    overflow-y: scroll;
    padding-right: .2em;

    .subject-list-item {
      position: relative;
      margin-bottom: .5em;

      &__buttons {
        scale: 1.3;
        display: none;
        position: absolute;
        top: .5em;
        right: 1em;

        button {
          margin-left: .3em;
        }
      }

      &_selected {
        > .subject-list-item__buttons {
          display: block;
        }
      }

    }

  }
}
