@import "../colors";

@mixin tab-container {
  background-color: $bgColor;
  padding-top: 1em;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .tab-container__label {
    background-color: $bgColor;
    padding: 0 .5em;
    position: absolute;
    top: .5em;
    left: .5em;
  }

  .tab-container__content {
    border: 1px $borderFgColor solid;
    border-radius: 4px;
    padding: 1.5em .5em .5em;
    height: 100%;
    width: 100%;
  }
}
