@import "../../shared/colors";

.saved-subjects-list {
  width: 100%;
  height: 100%;
  padding: 0 3em;
  display: flex;
  flex-direction: column;

  &__search {
    padding-bottom: 1em;
  }

  &__saved-subjects {
    width: 100%;
    overflow-y: scroll;

    .saved-subject__item {
      position: relative;
      cursor: pointer;
      user-select: none;
      margin-bottom: .5em;
      overflow-x: hidden;

      p {
        padding: .3em 0;
        word-wrap: anywhere;
      }

      &:hover {
        border-color: $inputBorderFgColorHover;
      }

      .saved-subject__remove-button {
        display: none;
        position: absolute;
        top: 30%;
        right: 1em;
        scale: 1.3;
      }

      &:hover {
        .saved-subject__remove-button {
          display: block;
        }
      }
    }

    .saved-subject__item_small {
      border: 1px solid $inputBorderFgColorInactive;
      border-radius: 4px;
      padding: .5em 1em;
    }
  }
}
