@import "components/shared/colors";

$headerHeight: 90px;
$fullFooterHeight: 200px;
$fullBodyHeight: calc(100% - 1em - $headerHeight);
$bodyHeight: calc(100% - 1em - $headerHeight - $fullFooterHeight);


.app {
  background-color: $bgColor;
  color: $fgColor;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  padding: .1em .5em .5em;

  .header {}

  .body {}

  .footer {}
}
