@import "components/shared/colors";

$headerHeight: 90px;
$fullFooterHeight: 200px;
$fullBodyHeight: calc(100% - 1em - $headerHeight);
$bodyHeight: calc(100% - 1em - $headerHeight - $fullFooterHeight);


.app {
  background-color: $bgColor;
  color: $fgColor;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  padding: .1em .5em .5em;

  .header {
    height: $headerHeight;
  }

  .body {
    display: flex;
    height: $bodyHeight;

    .reflex-splitter {
      border-color: black;
      background-color: black;
      padding: .2em;

      &:hover {
        border-color: gray;
      }
    }
  }

  .footer {
    display: flex;
    width: 100%;
    height: $fullFooterHeight;
  }
}
