@import "../shared/tabContainer/tab-container.mixin";

.messages-tab-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inputs {
    height: calc(100% - 50px);
  }

  .buttons {
    .my-button {
      margin-right: 1em;
    }
  }
}
